@font-face {
    font-family: 'ALK Life';
    src: url('alk-life-webfont.eot'); /* IE9 Compat Modes */
    src: url('alk-life-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('alk-life-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('alk-life-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('alk-life-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('alk-life-webfont.svg#alk_liferegular') format('svg'); /* Legacy iOS */
}